.etiquetaUno {
    background: rgba(220, 21, 21, 0.23);
    position: absolute;
    width: 9%;
    height: 6vh;
    left: 48%;
    top: 42.5%;
    border-radius: 10px 17px 17px 10px;
    z-index: -1;

}

.etiquetaDos {
    position: absolute;
    width: 10%;
    height: 6vh;
    left: 48%;
    top: 42.5%;
    background: rgba(255, 88, 51, 0.21);
    border-radius: 10px 17px 17px 10px;
    z-index: -2;
}

.etiquetaTres {
    position: absolute;
    width: 11%;
    height: 6vh;
    left: 48%;
    top: 42.5%;

    background: rgba(254, 212, 116, 0.4);
    border-radius: 10px 17px 17px 10px;
    z-index: -3;
}

@media screen and (min-width: 375px) and (max-width: 767px){
    .etiquetaUno,
    .etiquetaTres,
    .etiquetaDos {
        margin-top: 28.5%;

        margin-left: 18%;
    }

    .etiquetaUno {
        width: 26%;
    }

    .etiquetaDos {
        width: 29%;
    }

    .etiquetaTres {
        width: 31%;
    }
} 



@media (min-width: 320px) and (max-width: 374px) {

    .etiquetaUno,
    .etiquetaTres,
    .etiquetaDos {
        margin-top: 18.5%;
        margin-left: 21%;
    }

    .etiquetaUno {
        width: 26%;
    }

    .etiquetaDos {
        width: 30%;
    }

    .etiquetaTres {
        width: 34%;
    }


}

