.contenedorFooterJapan{
    background: #2C948D;
    width: 134%;
    margin-left: -18%;
    height: 20vh;
    margin-top: 14%;
}

.textoFooterJapan{
    font-family: Merriweather;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    font-size: 0.8em;
    padding-top: 24%;
}

.carlaDiazJapan{
    font-weight: bold;
}

.inconosFooterJapan{
    margin-top: -27%;
}

@media screen and (min-width: 375px){
    .contenedorFooterJapan{
        height: 23vh;
        width: 135%;
    }
}

@media screen and (min-width: 768px) and (max-width:1440px){
    .contenedorFooterJapan{
        margin-left: -51%;
    width: 99vw;
    margin-left: -53%;
    width: 99vw;
    height: 14vh;
    }

    .textoFooterJapan{
        font-size: 1em;
        margin-top: 0.4%;
        margin-left: 6.5%;
    display: flex;
    justify-content: flex-start;
    padding-top: 2.2%;
    width: 29%;

    }

    .bolaCristalJapan{
        font-size: 1.8em;
        margin-top: -1%;
    }

    .inconosFooterJapan{
        display: flex;
        margin-top: -4.4%;
        justify-content: space-evenly;
        width: 15%;
        margin-left: 79.6%;
    }
}