.contenedorHarryPotter {
    display: flex;
    justify-content: center;
}

.harryPotter{
    margin-top: 6%;
}

.tituloHarry {
    margin-top: 10%;
}
.solucion{
    margin-top: 13%;
}
.hp,
.expJa,
.textoProcesosHarry,
.resultado,
.puedesVer,
.solucional{
    font-size: 1.3em;
    font-family: Merriweather;
    color: #595959;
}

.quete {
    font-size: 0.9em;
    color: #595959;

    font-family: Merriweather;

}

.loquemas {
    font-size: 0.8em;
    color: #000000;
    font-family: Montserrat;
    text-align: left;
    width: 109%;
}
.lineaRojaSolucion{
    position: absolute;
    width: 11%;
    background: #D50019;
    margin-left: -6.7%;
    margin-top: 5%;
}

.lineaRojaSolucionDos{
    position: absolute;
    width: 11%;
    background: #D50019;
    margin-left: 82.3%;
    margin-top: -6%;
}
.lineaRojahp {
    position: absolute;
    width: 6%;
    background: #D50019;
    margin-left: 6.3%;
    margin-top: 4.5%;
}


.lineaRojahpDos{
    position: absolute;
    width: 6%;
    background: #D50019;
    margin-left: 88.3%;
    margin-top: -4.9%;


}

.hpes,
.TextoInnoHarry,
.desdeAquiHarry,
.algunosHarry,
.cambianHarry,
.textoQuienHarry,
.siElHarry,
.pormedioHarry,
.usuariosVerHarry,
.comoseHarry,
.eseflujo,
.segun,
.aquiPuedes {
    font-family: Montserrat;
    font-size: 0.8em;
    line-height: 200%;
    color: #000000;
    text-align: left;
    margin-left: 6%;
    width: 89%;
}

.aquiPuedes{
    margin-left: -7%;
    margin-top: -4%;
    width: 106%;
}

.segun {
    margin-left: -7%;
    width: 116%;
}

.desdeAquiHarry {
    margin-left: 0%;
}

.textoQuienHarry {
    width: 99%;
    margin-left: -2%;
}

.siElHarry {
    width: 105%;
    margin-left: -2%;
}

.rolHarry{
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.rolTextoHarry,
.fechaDeHarry,
.actividadesHarry {
    font-family: Montserrat;
    font-weight: bold;
    line-height: 30px;
    font-size: 1em;
    text-align: left;
    color: #000000;
}
.lineaRojaElHarry{
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 2.3%;
    margin-top: 5.1%;

}
.fechaDe {
    margin-top: -3%;
}

.uxHarry,
.mayo,
.uxRHarry,
.protoHarry,
.diseñoUiHarry,
.testeo{
    font-family: Montserrat;
    font-size: 0.8em;
    text-align: left;
    line-height: 30px;
    margin-top: -6%;
    color: #000000;
}

.actividades {
    margin-top: -3%;
}

.tagActividadesHarry {
    display: flex;
    justify-content: space-evenly;
    margin-left: -5%;
    margin-top: 2%;
    flex-flow: wrap;
}


.uxRHarry {
    background: #FF967E;
    border-radius: 25px;
    width: 31vw;
    padding-left: 3%;
}

.protoHarry {
    background: rgba(224, 119, 22, 0.59);
    border-radius: 25px;
    width: 25vw;
    padding-left: 3%;
}

.diseñoUiHarry{
    background: #EB8793;
    border-radius: 25px;
    width: 25vw;
    padding-left: 3%;
}

.testeo{
    background: #FED474;
    border-radius: 25px;
    width: 19vw;
    padding-left: 3%;
    padding-right: -24%;
    margin-left: -6%;
    margin-right: 66%;
    margin-top: -1%;
}


.experienciaHarry {
    display: flex;
    justify-content: center;
}

.expJa {
    margin-left: -8%;
    margin-top: 6%;
}

.lineaRojaJpTresHarry {
    position: absolute;
    width: 86%;
    background: #D50019;
    margin-top: -1%;
    margin-left: 8.4%;

}

.lineaRojaJpCuatroHarry {
    position: absolute;
    width: 92%;
    background: #D50019;
    margin-top: 0.5%;
    margin-left: 5%;

}

.TextoInnoHarry {
    margin-left: 0%;
    width: 92%;
}

.textoExperienciaHarry {
    margin-top: 4%;
}

.cardContenedorHarry{
    width: 89%;
    margin-left: 5.3%;
    height: 135vh;
}

.elProblemaHarry {
   
}

.lineaRojaElDosHarry {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 70.3%;
    margin-top: -3.9%;
}

.lineaRojaProcesosHarry {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 62.3%;
    margin-top: 5.1%;
}

.lineaRojaProcesosDosHarry {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 10.3%;
    margin-top: -5%;
}

.algunosHarry,
.cambianHarry {
    width: 109%;
    margin-left: -2%;
}

.procesosHarry {
    margin-top: 22%;
}


.pormedioHarry {
    margin-left: -8%;
    width: 117%;
}

.usuariosVerHarry {
    width: 117%;
    margin-left: -8%;
}

.comoseHarry {
    width: 118%;
    margin-left: -8%;
    margin-top: 7%;
}

.eseflujo {
    margin-left: -8%;
    width: 116%;
}

.flujo, .flujodigital{
    display: flex;
    justify-content: center;
}

.flujograma, .flujogramaDig{
    width: 86vw;
}




.lineaRojaResultado {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 64.3%;
    margin-top: 5%;
}

.lineaRojaResultadoDos {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-top: -6%;
    margin-left: 7.3%;
}

.lineaRojaque{
    display:none;
}

.lineaRojaqueDos, .linearojaPuedes, .linearojaPuedesDos{
    display:none;
}

.contenedorQue {
    width: 110%;
    margin-left: -5%;
    margin-top: 9%;
    background: #FFFFFF;
    box-shadow: 1px 4px 20px -1px rgba(43, 43, 43, 0.3);
    height: 44vh;

}

.Carrusel {
    background: rgba(44, 148, 141, 0.6);
    width: 131%;
    margin-left: -15%;

}

.carruselespacio {
    margin-top: 5%;
    margin-left: 10%;
}

.imguno {
    width: 86%;
}


.puedesVer{
    width: 113%;
    margin-left: -8%;
    margin-top: 10%;
}

.harryPotterImg{
    width: 60vw;
}

.experienciaPuntosHarry{
    display:none;
}

.contenedorHumans{
    display: none;
}

@media screen and (min-width: 375px){
    .jPes, .TextoInno, .desdeAqui, .algunosHarry, .cambianHarry, .textoQuienHarry, .siEl, .pormedioHarry, .usuariosVerHarry, .comoseHarry, .eseflujo{
        font-size: 1em;
        
    }
    .segun {
      
        font-size: 1em;
    }
    
    .rolTexto, .fechaDe, .actividades{
        font-size: 1.2em;
    }

    .ux, .julio, .uxR, .proto, .diseñoUi{
        font-size: 0.9em;
    }

    .lineaRojaJpTres,  .lineaRojaJpCuatro{
        margin-left: -9%;
        margin-left: -9%;
    }

    .cardContenedorHarry{
        height: 137vh;
        margin-left: 6.3%;
    }

    .pormedioHarry, .usuariosVerHarry, .comoseHarry, .eseflujo {
        margin-left: -6%;
    }

    .usuariosVerHarry{
        width: 115%;
    }

    .lineaRojaResultado{
        margin-left: 62.3%;
    }

    .lineaRojaResultadoDos{
        margin-top: -4%;
    margin-left: 11.3%;
    }

    .Carrusel{
        width: 132%;
    }

    .quete{
        font-size:1em;
    }

    .contenedorQue{
    width: 115%;
    margin-left: -7%;
    }

    .loquemas{
        font-size: 0.9em;
    width: 100%;
    }

    .aquiPuedes{
        font-size:1em;
        width: 114%;
    }

}

@media screen and (min-width: 768px) and (max-width:1440px){
    .harryPotterImg{
        display: flex;
        width: 32vw;
    margin-left: 7%;
    }

    

    .rolTextoHarry, .fechaDeHarry, .actividadesHarry{
        font-size: 1.2em;
    }
    .tituloJapan{

    }

    .uxHarry, .mayo, .uxRHarry, .protoHarry, .diseñoUiHarry, .testeo{
        font-size: 0.9em;
    }
    .hpes{
        font-size: 1em;
        width: 85%;
    }

    .hp{
        margin-top: -42%;
    margin-left: 30.8%;
    font-size: 2em;
    }

    .lineaRojahp{
        margin-top: 2%;
        margin-left: 13%;
        width: 7%;
}

.contenedortextoHarry{
    margin-left: 40%;
}

.rolHarry {
    width: 24%;
    margin-left: 43.7%;
}

.lineaRojaJpDos{
    display:none;
}

.tagActividadesHarry{
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-top: -1%;
}

.uxRHarry{
    width: 9vw;
    padding-left: 33%;
}

.protoHarry{
    width: 7vw;
    padding-left: 33%;
    margin-top: -153%;
    margin-left: 410%;
}

.fechaDeHarry{
    margin-left: 122%;
    margin-top: -25%;
    margin-right: -95%;
}

.mayo{
    margin-left: 123%;
    margin-top: -6%;
    margin-right: -50%;
}

.testeo{
    width: 7vw;
    /* padding-left: 33%; */
    margin-left: 324%;
    margin-top: -151%;
    text-align: center;
}

.diseñoUiHarry{
    width: 7vw;
    padding-left: 33%;  
}

.experienciaPuntos{
    display: block;
    margin-left: -59%;
    margin-top: 4%;
}

.experiencia{
    margin-top: -289%;
    display: flex;
    justify-content: left;
    margin-left: -135%;
    

}
.textoExperiencia {
    margin-left: -154%;
    width: 342%;
    display: flex;
    margin-top: -2%;
}

.desdeAqui{
    margin-left: 7%;
    /* width: 107%; */
    margin-right: -7%;
    
}

.TextoInno{

}

.lineaRojaJpTres{
    width: 6vw;
    margin-left: 21%;
    margin-top: 1.2%;
}

.expJa{
    margin-top: -7%;
}

.lineaRojaJpCuatro{
    display:none;
}

.cardContenedorHarry {
    width: 85.4vw;
    margin-left: 6.9%;
    margin-top: 3%;
    height: 53vh;
}

.elProblemaHarry{
    font-size: 1.3em;
    text-align: left;
}

.lineaRojaElHarry{
    width: 6vw;
    margin-left: 17%;
    margin-top: 1.7%;
}

.lineaRojaElDosHarry{
    display:none;
}

.contenedorAlgunosCambianHarry{
    display: flex;
    flex-direction: column;
    width: 22%;
}

.quienSeHarry{
    display: flex;
    flex-direction: column;
    margin-top: -18%;
    margin-left: 27%;
    width: 72%;
}

.siEl{
    width: 101%;
}

.procesosHarry{
    margin-top: 10%;
    margin-left: -36.1%;
    width: 73%;
}

.textoProcesosHarry{
    text-align: left;
    margin-left: -6.3%;
}

.lineaRojaProcesosHarry{
    display:none;
}

.lineaRojaProcesosDosHarry{
    width: 6vw;
    margin-top: -1.5%;
    margin-left: 9%;
}

.solucion{
    display: flex;
    justify-content: left;
    margin-left: -42.4%;
    margin-top: 2%;
}

.lineaRojaResultado{
    display:none;
}

.lineaRojaResultadoDos{
    width: 6vw;
    margin-top: -1.5%;
    margin-left: 10%;
}

.segun{
    margin-left: -19.7%;
    margin-top: 5%;
    width: 57%;
}

.solucional{
    margin-left: 1.4%;
}

.lineaRojaSolucion{
    display:none;
}

.lineaRojaSolucionDos{
    width: 6vw;
    margin-left: 20%;
    margin-top: -1.3%;
}

.resultado{
    margin-top: 24%;
    margin-left: -93.1%;
}

.contenedorHumans{
    display: flex;
    position: absolute;
    margin-left: 32%;
    margin-top: 29%;
}

.Carrusel{
    margin-left: -51%;
    width: 167%;
    height: 55vh;
    margin-top: 4%;
}

.contenedorQue{
    margin-left: -40.4%;
    width: 144%;
    height: 22vh;
}

.imguno{
    width: 31%;
    margin-top: -1%;
    margin-left: 26%;
}

.lineaRojaque, .lineaRojaqueDos{
    display: flex;
    position: absolute;
    width: 8%;
    background: #D50019;
}

.lineaRojaque{
    margin-left: 26%;
    margin-top: 1.3%;

}

.lineaRojaqueDos{
    margin-left: 62.5%;
    margin-top: -0.8%;
}

.loquemas{
    text-align: center;
}

.puedesVer{
    margin-top: 8%;
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    margin-left: -25%;
}

.linearojaPuedes, .linearojaPuedesDos{
    display:flex;
    display: flex;
    position: absolute;
    width: 8%;
    background: #D50019;
}

.linearojaPuedes{
    margin-left: 18%;
    margin-top: 1.4%;

}

.linearojaPuedesDos{
    margin-left: 52.4%;
    margin-top: -1.4%;
}

.aquiPuedes{
    margin-top: 50%;
    margin-left: -162%;
    font-size: 1em;
}
    }
