.contenedorJapanQueen {
    display: flex;
    justify-content: center;
}

.japanQueenimg {
    margin-top: 6%;
}

.tituloJapan {
    margin-top: 10%;
}

.jp,
.expJa,
.textoProcesos,
.resultado,
.puedesVer{
    font-size: 1.3em;
    font-family: Merriweather;
    color: #595959;
}

.quete {
    font-size: 0.9em;
    color: #595959;

    font-family: Merriweather;

}

.loquemas {
    font-size: 0.8em;
    color: #000000;
    font-family: Montserrat;
    text-align: left;
    width: 109%;
}

.lineaRojaJp {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 11.3%;
    margin-top: 5.5%;
}


.lineaRojaJpDos {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 75.3%;
    margin-top: -4.9%;


}

.jPes,
.TextoInno,
.desdeAqui,
.algunos,
.cambian,
.textoQuien,
.siEl,
.pormedio,
.usuariosVer,
.mesero,
.chef {
    font-family: Montserrat;
    font-size: 0.8em;
    line-height: 200%;
    color: #000000;
    text-align: left;
    margin-left: 6%;
    width: 89%;
}

.desdeAqui {
    margin-left: 0%;
}

.textoQuien {
    width: 99%;
    margin-left: -2%;
}

.siEl {
    width: 105%;
    margin-left: -2%;
}

.rol {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.rolTexto,
.fechaDe,
.actividades {
    font-family: Montserrat;
    font-weight: bold;
    line-height: 30px;
    font-size: 1em;
    text-align: left;
    color: #000000;
}

.fechaDe {
    margin-top: -3%;
}

.ux,
.julio,
.uxR,
.proto,
.diseñoUi {
    font-family: Montserrat;
    font-size: 0.8em;
    text-align: left;
    line-height: 30px;
    margin-top: -6%;
    color: #000000;
}

.actividades {
    margin-top: -3%;
}

.tagActividades {
    display: flex;
    justify-content: space-evenly;
    margin-left: -5%;
    margin-top: 2%;
}


.uxR {
    background: #FF967E;
    border-radius: 25px;
    width: 31vw;
    padding-left: 3%;
}

.proto {
    background: rgba(254, 214, 123, 0.9);
    border-radius: 25px;
    width: 25vw;
    padding-left: 3%;
}

.diseñoUi {
    background: #EB8793;
    border-radius: 25px;
    width: 25vw;
    padding-left: 3%;
}

.experiencia {
    display: flex;
    justify-content: center;
}

.expJa {
    margin-left: -8%;
    margin-top: 6%;
}

.lineaRojaJpTres {
    position: absolute;
    width: 88%;
    background: #D50019;
    margin-top: -1%;
    margin-left: -4%;

}

.lineaRojaJpCuatro {
    position: absolute;
    width: 88%;
    background: #D50019;
    margin-top: 0.5%;
    margin-left: -4%;

}

.TextoInno {
    margin-left: 0%;
    width: 92%;
}

.textoExperiencia {
    margin-top: 4%;
}

.cardContenedor {
    width: 89%;
    margin-left: 5.3%;
    height: 103vh;
}

.lineaRojaEl {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 2.3%;
    margin-top: 5%;
}

.lineaRojaElDos {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 70.3%;
    margin-top: -3.9%;
}

.lineaRojaProcesos {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 62.3%;
    margin-top: 5.1%;
}

.lineaRojaProcesosDos {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 10.3%;
    margin-top: -5%;
}

.algunos,
.cambian {
    width: 109%;
    margin-left: -2%;
}

.procesos {
    margin-top: 22%;
}

.textoProcesos {}

.pormedio {
    margin-left: -8%;
    width: 113%;
}

.usuariosVer {
    width: 112%;
    margin-left: -8%;
}

.mesero {
    width: 100%;
    margin-left: -8%;
}

.chef {
    margin-left: -8%;
}



.lineaRojaResultado {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-left: 64.3%;
    margin-top: 5%;
}

.lineaRojaResultadoDos {
    position: absolute;
    width: 14%;
    background: #D50019;
    margin-top: -6%;
    margin-left: 7.3%;
}

.contenedorQue {
    width: 110%;
    margin-left: -5%;
    margin-top: 9%;
    background: #FFFFFF;
    box-shadow: 1px 4px 20px -1px rgba(43, 43, 43, 0.3);
    height: 44vh;

}

.Carrusel {
    background: rgba(44, 148, 141, 0.6);
    width: 131%;
    margin-left: -15%;

}

.carruselespacio {
    margin-top: 5%;
    margin-left: 10%;
}

.imguno {
    width: 86%;
}


.puedesVer{
    width: 113%;
    margin-left: -8%;
    margin-top: 10%;
}

@media screen and (min-width: 375px){
    .jPes, .TextoInno, .desdeAqui, .algunos, .cambian, .textoQuien, .siEl, .pormedio, .usuariosVer, .mesero, .chef{
        font-size: 1em;
        
    }

    .rolTexto, .fechaDe, .actividades{
        font-size: 1.2em;
    }

    .ux, .julio, .uxR, .proto, .diseñoUi{
        font-size: 0.9em;
    }

    .lineaRojaJpTres,  .lineaRojaJpCuatro{
        margin-left: -9%;
        margin-left: -9%;
    }

    .cardContenedor{
        height: 137vh;
        margin-left: 5.3%;
    }

    .pormedio, .usuariosVer, .mesero, .chef {
        margin-left: -6%;
    }

    .usuariosVer{
        width: 115%;
    }

    .lineaRojaResultado{
        margin-left: 62.3%;
    }

    .lineaRojaResultadoDos{
        margin-top: -4%;
    margin-left: 11.3%;
    }

    .Carrusel{
        width: 132%;
    }

    .quete{
        font-size:1em;
    }

    .contenedorQue{
    width: 115%;
    margin-left: -7%;
    }

    .loquemas{
        font-size: 0.9em;
    width: 100%;
    }
}