.retratoDos {
    display: flex;
    margin-left: 26.5%;
    margin-top: 3%;
    width: 37.2%;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 374px) {
    .retratoDos {
        width: 56vw;
        display: flex;
        justify-content: center;
        margin-left: 31%;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    .retratoDos {
        width: 56vw;
        display: flex;
        justify-content: center;
        margin-left: 29%;
    }
}