.retrato {
    display: flex;
    justify-content: left;
    margin-left: 8%;
    margin-top: 5%;
    width: 47.2%;
}

@media (min-width: 320px) and (max-width: 374px) {
    .retrato {
        width: 56vw;
        display: flex;
        justify-content: center;
        margin-left: 29%;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    .retrato {
        width: 56vw;
        display: flex;
        justify-content: center;
        margin-left: 25%;
    }
}