.proyectos{
    margin-left: 9.5%;
    font-size: 22px;
    
}
.sobreMi{
    margin-left: 33%;
    font-size: 22px;
    width: 100%;
}
.contacto{
   
    margin-left: 102%;
    margin-top: -14%;
}
.inicio{
    font-size: 22px;
    color: #595959;
    
    
}

.pro{
    color: #595959;
}

.pro:active, .pro:focus, .pro:hover{
    
    color: #FF3C38;
    text-decoration: overline;
}

