.puntosSobreMi {
    display: flex;
    justify-content: center;
}

.puntosSobreMiImg {
    width: 85vw;
    margin-top: -5%;
}


.encabezadoTextoSobreMi {
    display: flex;
    justify-content: center;
    margin-top: -23%;
    text-align: center;
}

.unPoco {
    font-family: Merriweather;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 35px;
    color: #595959;

}

.lineaRojaSobreMi {
    position: absolute;
    width: 7%;
    background: #D50019;
    margin-left: -7.7%;
    margin-top: 1.2%;
}

.lineaRojaSobreMiDos {
    position: absolute;
    width: 7%;
    background: #D50019;
    margin-left: 32%;
    margin-top: 1.2%;
}

.contenedorTextoSobreMi {
    display: flex;
    justify-content: center;
}

.miNombreEs {
    font-family: Montserrat;
    font-size: 1em;
    font-size: 1em;
    text-align: center;
    width: 79%;
    margin-top: 1%;
    line-height: 30px;
}

.cardStyle{
    width: 89.9vw;
    height: 50vh;
}

.carlaDiazDos {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1em;
}

.contenedorDisfruto {
    display: flex;
    justify-content: center;
}

.disfruto {
    font-family: Montserrat;
    font-size: 1em;
    text-align: center;
    width: 79%;
    line-height: 30px;
}

.btnVerCurri {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.verCurri {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.1em;
    color: #FFFFFF;
    background: #FF3C38;
    border-radius: 8px;
    border: none;
    width: 14%;
    height: 9vh;
}

.contenedorMotivaciones {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.autodidacta {
    font-style: italic;
    font-weight: 600;
}

.crearDiferentes {
    font-weight: 600;
}

.siBien {
    margin-left: 2%;
}

.contenedorCardText {
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 2%;
}

.educacionHabilidades {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.educacion {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 5.7%;
}

.habilidades{
   
    display: flex;
    flex-direction: column;
    width: 40vw;
    
}

.educacionTexto,
.habilidadesTexto,
.habilidadesBlandas,
.textoHerramientas,
.ilus,
.fig,
.boos,
.gitDos,
.inv
{
    font-family: Merriweather;
    font-weight: bold;
    font-size: 1.5em;
    color: #595959;
    line-height: 30px;
}

.bootcamp,
.universidad,
.frontEnd {
    font-family: Montserrat;
    font-weight: bold;
    color: #000000;
    font-size: 1em;
    line-height: 20px;
    margin-top: 3%;
}

.frontEnd,
.diplomado,
.artes {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 34px;
}

.marzoSeptiembre,
.noviembre,
.marzoNoviembre {
    font-family: Montserrat;
    font-style: italic;
    color: #444444;
    line-height: 17px;
    font-size: 0.8em;
    margin-top: 1.1%;
}



.tagHabilidades{
    display: flex;
    
    flex-flow: wrap;
  
    margin-left: -13%;
    margin-top: 3%;
}



.design,
.dcu,
.wire,
.css,
.user,
.bench,
.html,
.react,
.js,
.empatica,
.reflexiva,
.analitica,
.adaptable,
.sociable,
.creativa{
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 600;
    border-radius: 25px;
    width: auto;
    height: 6vh;
    background: rgba(37, 222, 178, 0.3);
    padding-top: 1.3%;;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    margin-right: 2%;
}

.empatica,
.reflexiva,
.analitica,
.adaptable,
.sociable,
.creativa{
    background: rgba(230, 203, 228, 0.62);
    border-radius: 25px;
    padding-top: 1.3%;
    width: 25.1%;
}


.ilus,
.fig,
.boos,
.gitDos,
.inv{
    line-height: 26px;
}


.habilidadesBlandas{
    margin-left: -76%;
    
    margin-top: 3%;
}




.user{
    margin-left: 1%;
    padding-top: 1%;
}

.bench,
.html,
.react,
.js{
    padding-top: 1%;
}

.react{
    margin-left: 1%;
}
.tagSobreMi{
    display: flex;
    justify-content: left;
    /* flex-flow: row wrap; */
    margin-left: -55%;
    margin-top: 3%;
    margin-left: -13%;
   
}

.tagSobreMiDos{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 53%;
    flex-flow: column;
    flex-flow: wrap;
}

.tagWire{
    display: flex;
    justify-content: left;
    margin-left: -14%;
    width: 42vw;
    flex-flow: wrap;
}

.tagSobreMiTres{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 20%;
}

.tagHabilidadesDos{
    display: flex;
    flex-flow: wrap;
    width: 81%;
}

.dcu{
    
}

.habilidadesTexto{
    margin-left: -75%;
}

/*.tagHabilidades{
    width: 62%;
    margin-left: 8.8%;
    display: flex;
    justify-content: space-evenly;
}*/

.fechas{
    display: flex;
    max-height: 3vh;
    margin-top: -3%;
}

.bootcampLab{
    margin-top: -6%;
}

.universidad{
    margin-top: 7%;
}
.uniacc{
    margin-top: -3%;
}

.diplomado{
    width: 109%;
}

.fechasDos{
    display: flex;
    max-height: 3vh;
    margin-top: -2%;
}

.fechasTres{
    display: flex;
    max-height: 3vh;
    margin-top: -2%;
}

.artesVisuales{
    margin-top:-3%;
}

.herramientas{
    
    margin-left: 5.6%;
    
    margin-top: 5%;

    display: flex;
}

.contenedorHerramientas {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 1%;
    flex-grow: 0.5;
    margin-left: -12.6%;
}

.herrP, .ill, .figm, .trap, .gtd, .invA{
   
    margin-top: 24%;
    
}

.fi{
    margin-left: 6%;

}

.gtD{
    margin-left: 30%;


}

.invA{
    margin-right: -38%;
    margin-top: 29%;
}

 .ilus, .fig, .boos, .gitDos, .inv{
    font-family: Montserrat;
    font-weight: 300;
    font-size:1.5em;
    margin-top: 7%;
    color: #000000;
}

.photo{
    font-family: Montserrat;
    font-weight: 300;
    font-size:1.5em; 
    margin-left: -1%;
    color: #000000;
}

.ilus{

    font-family: Montserrat;
    font-weight: 300;
    font-size:1.5em; 
    color: #000000;

}

.ill{
    margin-top:17%;
    margin-left: -10%;
    
}

.illus{
    margin-left: -10%;
}

.figm{
    margin-left: -25%;
}

.trap{
    margin-top: 27%;
    margin-left: -4%;
}



.gtd{
    margin-right: -32%;
}

.boos{
    margin-top: -1%;
}

.ph{
    margin-left: -2%;
}
.puntosResSobreMi{
    display:none;
}



@media (min-width: 320px)and (max-width: 374px){
    .puntosSobreMi{
        display: none;
    }

     .puntosResSobreMi{
       
        display: block;
        margin-left: 8%;

       
       
    }
    .herramientas{
        margin-left: -1%;
    }
    .puntosresSo{
        width: 125%;
    }
    
    .contenedorTextoSobreMi{
        width: 127%;
        margin-top: 4%;
   
}
    

    .miNombreEs{
        font-size: 0.9em;
    width: 93%;
    }

    .encabezadoTextoSobreMi{
        margin-top: -138%;
        margin-left: 29%;
    width: 77%;

    }

    .lineaRojaSobreMiDos {
        margin-top: 5.2%;
        margin-left: 101%;
        width: 14%;
    }
   

    .lineaRojaSobreMi {
        margin-top: 5.2%;
    margin-left: -19%;
    width: 14%;
    }

    .unPoco{
        font-size:1.4em;
    }

    .contenedorDisfruto{
        width: 135%;
        margin-left: -5%;
    margin-top: 7%;

    }

    .disfruto {
        font-size: 0.9em;
    }

    .btnVerCurri {
        margin-top: 15%;
    }

    .verCurri{
        width: 77%;
        margin-left: 35%;

    }

    .cardStyle{
        width: 110vw;
        height: 136vh;
        margin-top: -4%;
    }

    .contenedorCardText{
        display: flex;
    flex-flow: row wrap;
    }

    .siBien {
        margin-top: 9%;
    }

    .cardText{
        width: 100vw;
    margin-left: -3%;
    }

.contenedorMotivaciones{
    width: 114%;
    margin-top: 19%;
    margin-left: 10%;
}

.cardTitle{
    font-size:1.4em;
    text-align: left;
}

.cardTextDos{
    width: 99vw;
    margin-left: -4%;
    margin-top: -3%;
}

.educacionHabilidades{
    display: flex;
    flex-flow: row wrap;
    margin-left: 3%;
    margin-top: 10%;
}

.educacionTexto{
    font-size:1.4em;
}

 .bootcamp, .universidad{
     font-size:0.9em;
 }

 .universidad{
    margin-top: 9%;
 }

 .frontEnd, .diplomado, .artes{
    font-size:1em;  
    
 }

 .diplomado{
    margin-top: -3%;
 }

 .educacion{
    margin-left: 11%;
 }

 .bootcamp{
    margin-top: 0%;
 }

 .frontEnd{
    margin-top: 0%;
 }

 .fechas{
    margin-top: -6%;
 }

 .fechasDos {
    margin-top: -6%;
 }

 .artesVisuales{
    margin-top: -6%;
 }

 .artes{
    margin-top: 0%;
 }

 .fechasTres{
    margin-top: -6%;
 }

 .textoHerramientas{
    font-size:1.4em;
    margin-left: 14%;
} 
 

 .habilidades {
    margin-top: 8%;
    margin-left: 34%;
    width: 100%;
 }

 .habilidadesTexto{
    font-size:1.4em;
    margin-left: -54%;
 }

 .tagSobreMi{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 191%;
    margin-left: -37%;
 }

 .tagWire{
    width: 131%;
    margin-left: -37%;
    margin-top: -24%;
 }

 .user{
    width: 40%;
    margin-left: 55%;
    font-size: 0.8em;
    padding-top: 1.8%;
 }

 .design,
.dcu,
.wire
{
    font-size: 0.8em;
    width: 36%;
}

.css{
    margin-top: -18%;
    margin-left: 78%;
    padding-top: 2.5%;
    font-size: 0.8em;
}

.bench{
    margin-left: 97%;
    margin-top: -18%;
    font-size: 0.8em;
    padding-top: 1.9%;
}


.react
{
    font-size: 0.8em;
    padding-top: 2.5%;
}

.html{
    font-size: 0.8em;
    padding-top: 1.9%;
    margin-left: 1%;
}
.js{
    font-size: 0.8em;
    padding-top: 2%;
}
.habilidadesBlandas{
    font-size:1.4em;
    margin-left: -57%;
}

.tagHabilidades{
    display: flex;
    justify-content: left;
    flex-flow: wrap;
    margin-left: -35%;

}

.empatica,
.reflexiva,
.analitica,
.adaptable,
.sociable,
.creativa{
    width: 31.1%;
    font-size: 0.8em;
    padding-top: 1.9%;
}

.herrP {
    margin-left: -66%;
    font-size: 1.1em;
}
.photo{
    font-size: 1em;
}

.ilus{
    font-size: 1.1em;
    margin-left: -165%;
}

.ill{
    margin-top: 58%;
    margin-left: -23%;
}

.figm {
    margin-left: -206%;
    margin-top: -16%;

}

.fig{
    font-size: 1.1em;
}

.boos{
    font-size: 1.1em;
    
    margin-top: 14%;
    
    width: 195%;
}

.trap{
    margin-top: -146%;
}



.gitDos{
    font-size: 1.1em;  
}

.inv{
    font-size: 1.1em;  
}

.giHu{
    margin-top: -53%;
    margin-left: 43%;
}

}





@media (min-width: 375px) and (max-width: 767px){
    .puntosSobreMi{
        display: none;
    }

    .puntosResSobreMi{
       
        display: flex;
        margin-left: 6%;
        width: 117%;
        margin-top: 3%;
       
    }

    .puntosresSo{
        width: 125%;
    }
    
    .contenedorTextoSobreMi{
        width: 127%;
        
    margin-top: 9%;
   
}
    

    .miNombreEs{
        font-size: 1em;
    width: 93%;
    }

    .encabezadoTextoSobreMi{
        margin-top: -141%;
        margin-left: 6%;
        width: 77%;
  

    }

    .lineaRojaSobreMiDos {
        margin-top: 5.2%;
        margin-left: 101%;
        width: 14%;
    }
   

    .lineaRojaSobreMi {
        margin-top: 5.2%;
    margin-left: -19%;
    width: 14%;
    }

    .unPoco{
        font-size: 1.5em;
    }

    .contenedorDisfruto{
        width: 135%;
        margin-left: -5%;
    margin-top: 7%;

    }

    .disfruto {
        font-size: 1em;
    }

    .btnVerCurri {
        margin-top: 27%;
    }

    .verCurri{
        width: 77%;
        margin-left: 30%;
    }

    .cardStyle{
        width: 110vw;
        height: 122vh;
        margin-top: -4%;
    }

    .contenedorCardText{
        display: flex;
    flex-flow: row wrap;
    }

    .siBien {
        margin-top: 9%;
    }

    .cardText{
        width: 100vw;
    margin-left: -3%;
    font-size: 1em;
    }

.contenedorMotivaciones{
    width: 110%;
    margin-top: 19%;
    margin-left: 10%;
}

.cardTitle{
    font-size: 1.5em;
    text-align: left;
}

.cardTextDos{
    width: 99vw;
    margin-left: -4%;
    margin-top: -3%;
}

.educacionHabilidades{
    display: flex;
    flex-flow: row wrap;
    margin-left: 5%;
    margin-top: 10%;
}

.educacionTexto{
    font-size: 1.5em;
}

 .bootcamp, .universidad{
    font-size: 1.1em;
 }

 .universidad{
    margin-top: 9%;
 }

 .frontEnd, .diplomado, .artes{
    font-size: 1.3em;
    
 }

 .marzoSeptiembre, .noviembre, .marzoNoviembre{
    font-size: 1em;
 }

 .diplomado{
    margin-top: -1%;
 }

 .educacion{
    margin-left: 6%;
 }

 .bootcamp{
    margin-top: 3%;
 }

 .frontEnd{
    margin-top: 2%;
 }

 .fechas{
    margin-top: -4%;
 }

 .fechasDos {
    margin-top: -4%;
 }

 .artesVisuales{
    margin-top: -6%;
 }

 .artes{
    margin-top: 2%;
 }

 .fechasTres{
    margin-top: -4%;
 }

 .textoHerramientas{
    font-size:1.4em;
} 
 

 .habilidades {
    margin-top: 13%;
    margin-left: 34%;
    width: 100%;
 }

 .habilidadesTexto{
    font-size:1.4em;
    margin-left: -81%;
}


 .tagSobreMi{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 191%;
    margin-left: -44%;
    margin-top: 6%;
 }

 .tagWire{
    width: 131%;
    margin-left: -44%;
    margin-top: -24%;
 }

 .user{
    width: 40%;
    margin-left: 53%;
    font-size: 0.8em;
    padding-top: 1.8%;
    margin-top: 2.1%;
 }

 .design,
.dcu,
.wire
{
    font-size: 0.8em;
    width: 36%;
}

.css{
    margin-top: -16%;
    margin-left: 72%;
    padding-top: 2.5%;
    font-size: 0.8em;
}

.bench{
    margin-left: 98%;
    margin-top: -16%;
    font-size: 0.8em;
    padding-top: 1.9%;
}



.react
{
    font-size: 0.8em;
        padding-top: 2.4%;

}

.html{
    font-size: 0.8em;
    padding-top: 1.9%;
    margin-left: 1%;
}
.js{
    font-size: 0.8em;
    padding-top: 2%;
}
.habilidadesBlandas{
    font-size:1.4em;
    margin-left: -83%;
}

.tagHabilidades{
    display: flex;
    justify-content: left;
    flex-flow: wrap;
    margin-left: -43%;
    margin-top: 6%;

}

.empatica,
.reflexiva,
.analitica,
.adaptable,
.sociable,
.creativa{
    width: 31.1%;
    font-size: 0.8em;
    padding-top: 1.9%;
}

.herrP {
    margin-left: -60%;
    font-size: 1.1em;
}
.photo{
    font-size: 1em;
}

.ilus{
    font-size: 1.1em;
    margin-left: -165%;
}

.ill{
    margin-top: 19%;
    margin-left: 36%;
}

.figm {
    margin-left: -209%;
    margin-top: -8%;
}

.fig{
    font-size: 1.1em;
}

.boos{
    font-size: 1.1em;
    
    margin-top: 14%;
    
    width: 195%;
}

.trap{
    margin-top: -159%; 
}



.gitDos{
    font-size: 1.1em;  
}

.inv{
    font-size: 1.1em;  
}

.giHu{
    margin-top: -40%;
    margin-left: 24%;
}

.herramientas{
    margin-left: 11.6%;
}

.ph{
    margin-left: -30%;
    margin-top: 8%;
}
.contenedorHerramientas{

}
}
