.japanQueen,
.harryPotter,
.pincelBook {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: initial;
    font-size: 1.3em;
}

.appPara,
.appInformativa,
.redSocial {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1em;
    line-height: 140%;
}

.verProyecto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.contenedorCards {
    width: 86.6%;
    display: flex;
    margin-left: 6.7%;
}

@media (min-width: 320px) and (max-width: 374px) {
    .contenedorCards {
        width: 114%;
        margin-left: 4%;
        margin-top: 5%;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px){
    .contenedorCards {
        width: 109%;
        margin-left: 10%;
        margin-top: 5%;
    }
}